* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body {
   background-color: white;
   color: black;
}

.about-wrapper {
    max-width: 1100px;
    margin: 80px auto;
    padding: 60px;
    background: #ffffff;
    border-radius: 25px;
    display: flex;
    gap: 60px;
}

.about-info h2{
    font-size: 36px;
    margin-bottom: 20px;
}

.about-info p{
    line-height: 1.8;
    margin-bottom: 15px;
    color:  #6f1d1b;
}

.about-team h3 {
    margin-bottom: 25px;
    font-size: 26px;
}

.team-box {
    display: flex;
    gap: 25px;
}

.team-member{
    background: #f0f2f3;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    width: 180px;
    transition: 0.3s ease;
}

.team-member img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 10px;

}

.team-member:hover {
    transform: translate(-8px);
}

.team-member span{
    font-size: 14px;
    color: #6f1d1b;
}

@media (max-width: 900px) {
    .about-wrapper{
        flex-direction: column;
        padding: 40px;
    }

    .team-box{
        justify-content: center;
    }
    
}



