* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif0;
}

body {
    margin: 0;
    background: white;
}

.container {
    max-width: 1100px;
    margin: 50px auto;
    padding: 20px;
}

.contact-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    background: #fff;
    padding: 30px;
    border-radius: 12px;
}

.info-boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.info-box {
    background:#6f1d1b;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
}

map iframe {
    width: 100%;
    height: 220px;
    border-radius: 10px;
    margin-top: 20px;
}

.form h2 {
    margin-bottom: 10px;
}

.form p {
    color: #777;
}

.form-group {
    margin-bottom: 15px;
}

input, textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

textarea {
    height: 120px;
    resize: none;
} 

button {
    width: 100%;
    padding: 14px;
    background: whitesmoke;
    color:#6f1d1b;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.success {
    display: none;
    color: #6f1d1b;
    margin-top: 15px;
}

@media (max-width: 900px){
    .contact-wrapper{
        grid-template-columns: 1fr;
    }
}