html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column; 
  }


  body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    background: url('people.jpg') no-repeat center center/cover;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(5px);
}


.search-box {
    width: 90%;
    max-width: 900px;
    margin: 40px ;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}


.tabs {
    display: flex;
    margin-bottom: 20px;
}

.tabs .tab {
    flex: 1;
    padding: 12px;
    background: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px 8px 0 0;
    transition: background-color 0.3s ease, 
                color 0.3s ease, 
                transform 0.2s ease;
}

.tabs .tab:hover{
    background-color: #6f1d1b;
    color: #fff;
}

.tab.active {
    background-color: #6f1d1b;
    color: white;
    transform: scale(0.97);
}






.filters {
    display: flex;
    gap: 15px;
}

.filters input,
.filters select {
    flex: 1;
    padding: 14px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
}

.search-btn {
    padding: 14px 25px;
    background: #6f1d1b;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, 
    color 0.3s ease, 
    transform 0.2s ease;
    
}

.search-btn:hover {
    transform: scale(0.97);
}

.error-msg {
    color: #6f1d1b;
    margin-top: 10px;
    font-size: 14px;
    display: none;
    transition: opacity 0.3s ease;
}


main {
    margin: 0 auto;
    padding: 100px 20px 50px 20px;  
    
}

.jobs-wrap {
    display: flex;
    flex-direction: column;  
    margin: 150px 0 20px 40px;   
    gap: 40px; 
    
}


.jobs-wrap h2 {
    font-size: 28px;
    font-weight: bold;
    color: #6f1d1b;
    margin: 70px 0 5px 0;
    text-align: center;
}

.jobs-wrap h3 {
    font-size: 20px;
    font-weight: normal;
    color: #555;
    margin-bottom: 100px;
    margin-top: 50px;
    text-align: center;
}


.job-card {
    display: flex;
    justify-content: space-between;             
    max-width: 900px;        
    padding: 30px 100px;
    background-color: #f8f8f8;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: transform 0.2s;
    
}

.job-card:hover {
    transform: translateY(-5px);
}

.job-card .left {
    display: flex;
    gap: 15px;
}

.avatar {
    width: 50px;
    height: 50px;
    background-color: #c2c4c7;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details .job-title {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
}

.details .company, 
.details .location {
    font-size: 14px;
    color: #555;
}

.job-card .right .apply-btn {
    background-color: #6f1d1b;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.2s;
}

.job-card .right .apply-btn:hover {
    background-color: #4b0f0c;
}

.bx-menu{
    display: none !important;
    color: #4b0f0c;
    font-size: 25px;
}

/* Responsive */
@media (max-width: 780px) {
    .right-side{
        display: none !important;
    }

    .bx-menu{
        display: block !important;
    }
}


  footer {
    background-color: #6c757d;
    color: white;
    padding: 5px;
    text-align: center;
  }



.navbar {
    margin: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.listed {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
    color: white;

}

.listed li.active {
    color: #6f1d1b;     
    font-weight: bold;  
    border-bottom: 2px solid #6f1d1b; 
}


.right-side {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 40px;  
}



.listed li:hover{
    cursor: pointer;
    color: #6f1d1b;
    border-bottom: 2px solid #6f1d1b;
    

}

.navbar {
    display: flex;
    align-items: center;
    padding: 10px 40px;
    font-family: sans-serif;
    
}



#title{
    font-size: 20px;
    color: #6f1d1b;
}

.slogan{
    font-family:"Elms Sans", sans-serif;;
    font-size: 40px;
    margin-top: 80px;
    margin-left: 40px;
    font-weight: 100;
    display: flex;
    padding: 0px;
}

.quote{
    margin-top: 0px;
    margin-left: 40px;
    color: #6c757d;
   
}


.buttons {
    display: flex;
    gap: 15px;
}

.buttons button {
    color: white;
    background-color: #6f1d1b;
    border: none;
    border-radius: 20px;
    width: 100px;
    height: 30px;
}



.buttons button:hover{
    cursor: pointer;
    color: #6f1d1b;
    background-color: white;
    
    
    
}

footer {
    width: 100%;
    padding: 20px 50px;
    background-color: #f2f2f2; 
    box-sizing: border-box; 
    padding: 20px;  
}


.elementet {
    display: flex;              
    justify-content: space-between; 
    flex-wrap: wrap;            
    gap: 10px;                  
    margin-bottom: 20px;
}


.elementet .object {
    flex: 0 1 200px;  
    max-width: 220px;
    min-width: 150px;
    background-color: transparent;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}


.elementet .object i {
    font-size: 40px;
    color: #6f1d1b;
    margin-bottom: 10px;
}


.elementet .object h4 {
    color: #555;
    font-size: 16px;
    margin-bottom: 8px;
}


.elementet .object p {
    font-size: 14px;
    color: #555;
}


.copyright {
    color: #343a40;
    text-align: center;
    font-size: 14px;
}

.paragrafi1{
    color: white;
}

.quote{
    color: white;
}



/* OFFCANVAS MENU */
.sidenav {
    height: 92.1%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #4b0f0c;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #6c757d;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-right .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }