* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    background: url('../assets/images/resume.png') no-repeat center/cover;
}

/* NAVBAR */
.navbar {
    margin: 20px 40px;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;


}

#title {
    color: #6f1d1b;
}

.listed {
    list-style: none;
    display: flex;
    gap: 40px;
}

.listed a {
    text-decoration: none;
    color: #6f1d1b;
}

.right-side {
    display: flex;
    gap: 20px;
    align-items: center;
}

.buttons {
    display: flex;
    gap: 15px;
}

.buttons button {
    width: 100px;
    height: 35px;
    border-radius: 20px;
    border: none;
    background: #6f1d1b;
    color: white;
    cursor: pointer;
}

.buttons button.active {
    background: white;
    color: #6f1d1b;
    font-weight: bold;
}

/* FORM PAGE */
.form-page {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 40px 60px;

}

/* FORM */
.wrapper {
    width: 100%;
    max-width: 420px;
    background: rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(25px);
    border-radius: 18px;
    padding: 35px 40px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
    color: white;

}

.wrapper h1 {
    text-align: center;
    margin-bottom: 25px;
}

.input-box {
    position: relative;
    margin: 18px 0;
}

.input-box input {
    width: 100%;
    height: 45px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .3);
    border-radius: 30px;
    padding: 0 45px 0 20px;
    color: white;
}

.input-box i {
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 15px;
}

.btn {
    width: 100%;
    height: 45px;
    border-radius: 30px;
    border: none;
    background: white;
    color: #6f1d1b;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover {
    background: #6f1d1b;
    color: white;
}

.register-link {
    text-align: center;
    margin-top: 15px;
}

.register-link a {
    color: white;
    font-weight: bold;
    text-decoration: none;

}

.register-link a:hover {

    color: #6f1d1b;
}

.remember-forgot a {
    color: #6f1d1b;
    font-weight: bold;
    text-decoration: none;
}

.remember-forgot a:hover {
    color: #fff;
}